*{
    margin: 0;
}
.characterBox {
    position: relative;
    background-color: greenyellow;
    margin: 30px;
    width: 20rem;
    height: 20rem;
    border: 3px greenyellow solid;
    border-radius: 20px;
    transition: 0.3s ease-in-out;

    &:hover{
        scale: 1.04;
    }
    &:hover div{
        display:grid;
    }
    &:hover h2{
        display:none;
    }
}

.characterBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;

}
h2{
    background-color: greenyellow;
    position: absolute;
    bottom: 0;
    padding: 3px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;

}

.characterInfo {
    color: white;
    background-color: rgba(12, 12, 12, 0.7);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    border-radius: 18px;

    transition: 0.5s ease-in-out;

}

.characterInfo p {
    border-bottom: 1px greenyellow solid;

    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.characterInfo button{
    background-color: greenyellow;
    border: none;
    padding: 10px;
    border-radius: 20px;
    font-size: 22px;
    transition: background-color 0.2s ease-in-out;


    &:hover{
        background-color: red;
        cursor: pointer;
    }
}
.characterInfo .noBoder{
    border:none;
}


