.charactersBox{
    background-color: rgb(240, 240, 227, 0.9);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    justify-items: center;
    width: 80%;
    
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
