.barraBusqueda{
    margin: 2rem;
    width: 60%;
    height: 5rem;
    display: flex;
    align-items: center;
}
.barraBusqueda input{
    border: 3px white solid;
    background-color: black;
    color: white;

    padding: 0 20px;
    width: 75%;
    height: 40%;
    font-size: 20px;
    margin-right: 2rem;

    &:focus{
        border: 2px greenyellow solid;
        outline: none;
    }
}
.barraBusqueda button{
    border: none;
    border-radius: 30px;
    margin: 1rem;
    width: 20%;
    height: 40%;
    background-color: rgb(240, 240, 227);
    font-size: 22px;
    transition: background-color 0.2s ease-in-out;

    &:hover{
        background-color: greenyellow;
        cursor: pointer;
    }
}