.barraBusqueda{
    margin: 2rem;
    width: 60%;
    height: 5rem;
}
.barraBusqueda input{
    border: none;
    border-radius: 30px;
    padding: 0 20px;
    width: 75%;
    height: 40%;
    margin-bottom: 1rem;
    font-size: 20px;
    margin-right: 2rem;
}
.barraBusqueda button{
    border: none;
    border-radius: 30px;
    width: 20%;
    height: 40%;
    background-color: rgb(240, 240, 227);
    transition: background-color 0.2s ease-in-out;
    &:hover{
        background-color: greenyellow;
    }
}