.App {

   background-color: #000000;
   background-image: url('./multimedia/subtle-prism.png');
   background-attachment: fixed;
   background-size: contain;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.titulo{
   font-size: 60px;
}
.autor{
   font-size: 20px;
}
