
.navBox{
    display: flex;
    flex-direction: column;
    width: 100%;
}
nav{
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 3px white solid;
    height: 10vh;
    width: 100%;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 10;
}
.navBoxLinks{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botonNav{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    border: none;
    margin: 1rem;
    width: 7%;
    height: 40%;
    font-size: 22px;
    background-color: rgb(54, 54, 54);
    transition: background-color 0.2s ease-in-out;
    border-radius: 30px;

    &:hover{
       outline: 3px greenyellow solid;
        cursor: pointer;
    }

}
.botonNav button{
    background: none;
    color: white;
    border: none;
    font-size: 22px;
    &:hover{
        cursor: pointer;
    }
}

.titulo{
    font-size: 60px;
    font-family: 'RickAndMortyFont';
    color: greenyellow;
    padding-top: 15vh;
 }
 .autor{
    font-family: 'RickAndMortyFont';
    font-size: 26px;
    color: white;
 }
 